body {
  margin: 0;
  font-family: Arial, sans-serif;
}



.main-content {
  width: 100%; /* Use full width */
  padding: 20px;
  box-sizing: border-box;
}

.welcome-message {
  text-align: center;
  font-size: 40px;
  margin: 1rem 0;
}


.user-profile {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  width: 20%;
  margin-left: 420px;
}

